.glow{

    position:fixed;

    left:0;
    top:0;

    width:120px;
    height:120px;

    border-radius:50%;

    pointer-events:none;

    z-index:999998;

    transform:translate(-999px,-999px);

    background:
        radial-gradient(
            circle,
            rgba(255,245,215,.30) 0%,
            rgba(255,180,60,.18) 35%,
            rgba(255,120,30,.10) 60%,
            rgba(255,80,20,0) 100%
        );

    filter:blur(18px);

    mix-blend-mode:screen;

    will-change:transform;

}