:root {
    --fire-outer: #D96A21;
    --fire-inner: #FFB13A;
    --fire-core: #FFF8DA;
}

.fire {
    width: 30px;
    height: 45px;

    overflow: visible;

    pointer-events: none;
    user-select: none;

    /* головне */
    mix-blend-mode: plus-lighter;

        
    filter:
        drop-shadow(0 0 1px rgba(255,255,255,.8))
        drop-shadow(0 0 5px rgba(255,220,120,.9))
        drop-shadow(0 0 10px rgba(255,170,40,.65))
        drop-shadow(0 0 18px rgba(255,80,0,.25));    
}

/* ---------- Зовнішній контур ---------- */

.outer{
    stroke:var(--fire-outer);

    transform-origin:center bottom;

    animation:
        outerWave 3.6s ease-in-out infinite,
        breathe 2.8s ease-in-out infinite;
}

/* ---------- Середній язик ---------- */

.inner{
    stroke:var(--fire-inner);

    transform-origin:center bottom;

    animation:
        innerWave 2.5s ease-in-out infinite,
        breathe 2.8s ease-in-out infinite;
}

/* ---------- Серцевина ---------- */

.core{

    fill:var(--fire-core);

    transform-origin:center bottom;

    filter:blur(.4px);

    animation:
        flicker .45s infinite alternate,
        breathe 2.8s ease-in-out infinite;
}

/* ---------- Повільне "дихання" ---------- */

@keyframes breathe{

    0%{
        transform:scale(1);
    }

    50%{
        transform:scale(1.15);
    }

    100%{
        transform:scale(1);
    }

}

/* ---------- Коливання зовнішнього шару ---------- */

@keyframes outerWave{

    0%{
        transform:rotate(0deg);
    }

    30%{
        transform:rotate(6deg);
    }

    70%{
        transform:rotate(-7deg);
    }

    100%{
        transform:rotate(0deg);
    }

}

/* ---------- Коливання внутрішнього шару ---------- */

@keyframes innerWave{

    0%{
        transform:rotate(-5deg);
    }

    50%{
        transform:rotate(5deg);
    }

    100%{
        transform:rotate(-5deg);
    }

}

/* ---------- Мерехтіння серцевини ---------- */

@keyframes flicker{

    0%{
        opacity:.58;
    }

    18%{
        opacity:1;
    }

    44%{
        opacity:.73;
    }

    70%{
        opacity:1;
    }

    100%{
        opacity:.9;
    }

}




