.footer {
    width: 100%;
    background-color: #d9c9ae;
    padding: 18px 20px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    display: none;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
}

.bottom p {
    margin: 0;

    color: #252424;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;

    opacity: 0.5;
}