.card {
    position: relative;
    aspect-ratio: 3 / 4;

    overflow: hidden;
    border-radius: 20px;

    cursor: pointer;
    background: #ddd;
}

.image {
    object-fit: cover;

    transition:
        transform .6s ease,
        filter .6s ease;
}

.card:hover .image {
    transform: scale(1.08);
}

.overlay {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    padding: 24px;

    background: linear-gradient(
        to top,
        rgba(0,0,0,.82) 0%,
        rgba(0,0,0,.45) 35%,
        rgba(0,0,0,0) 70%
    );

    color: white;
}

.content {
    flex:1;
    padding-right:20px;
    transform: translateY(10px);
    transition: transform .35s ease;
}

.card:hover .content {
    transform: translateY(0);
}

.content h3 {
    margin: 0;
    color: #e4d6bc;
    font-size: 1.45rem;
    font-weight: 600;
    min-height: 3.2rem;
    line-height: 1.2;
}

.content p {
    margin-top: 8px;
    color: #e4d6bc;
    font-size: .95rem;
    min-height: 3rem;
    line-height: 1.5;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: rgba(255,255,255,.15);
    backdrop-filter: blur(8px);
    font-size: 1.4rem;
    color: #e4d6bc;

    transition:
        transform .3s ease,
        background .3s ease;
}

.card:hover .arrow {
    transform: translateX(4px);
    background: rgba(255,255,255,.25);
}